<div class="eqLogic-widget eqLogic allowResize AndroidRemoteControl" style="width: 240px;height: 260px;padding : 0px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard" >
	<span class="statusCmd" style="position : absolute;left : 5px;bottom : 5px; width : 30px;z-index: 1030;"></span>
	<a class="power_set cmd pull-right" id="power_set" style="padding:2px" data-cmd_id="#power_set_id#" onclick="jeedom.cmd.execute({id: #power_set_id#});"><i class="fa fa-power-off"></i></a>
<script>
if (#power_state# == 1) {
	document.getElementById('power_set').style.color = '#f00';
}
</script>
  
	<div class="widget-name">
		<span style="display:table;margin:auto;font-size: 1.2em;#hideEqLogicName#"><a href="#eqLink#">#name_display# <span style="font-size: 0.85em;">#object_name#</span></a></span>
	</div>

	<div class="row">

		<div style="display:inline;white-space:nowrap;">
			<a class="btn cmd volume- pull-left" style="margin-left:20px" data-cmd_id="#volume-_id#" title="Volume-" onclick="jeedom.cmd.execute({id: #volume-_id#});"><i class="fa fa-volume-down"></i></a>
			<a class="btn cmd volume+ pull-right" style="margin-right:-5px" data-cmd_id="#volume+_id#"  title="Volume+" onclick="jeedom.cmd.execute({id: #volume+_id#});"> <i class="fa fa-volume-up"></i></a>
		</div>
		<div style="display:inline;white-space:nowrap;">
			<center>
				<a class="type" style="text-decoration: none; cursor:default;">#type#</a>
				<a class="resolution" style="text-decoration: none; cursor:default;">#resolution#</a>
			</center>
		</div>

		<div>
			<center>
				<img src="#thumbnail#" height="80" width="80"/>
			</center>
		</div>
		<div style="white-space:nowrap;text-align: center">
			<a class="btn cmd" style="display:inline" data-cmd_id="#home_id#" title="Home" onclick="jeedom.cmd.execute({id: #home_id#});"><i class="fa fa-home"></i></a>
			<a class="btn cmd" style="display:inline" data-cmd_id="#back_id#" title="Back" onclick="jeedom.cmd.execute({id: #back_id#});"><i class="fa fa-undo"></i></a>
			<a class="btn cmd" style="display:inline" data-cmd_id="#home_id#" title="Play" onclick="jeedom.cmd.execute({id: #hplay_id#});"><i class="fa fa-play"></i></a>
			<a class="btn cmd" style="display:inline" data-cmd_id="#home_id#" title="Stop" onclick="jeedom.cmd.execute({id: #stop_id#});"><i class="fa fa-stop"></i></a>
		</div>
		<div style="white-space:nowrap;text-align: center">
			<a class="btn cmd" style="display:inline" data-cmd_id="#up_id#" title="Up" onclick="jeedom.cmd.execute({id: #up_id#});"><i class="fa fa-chevron-up"></i></a>
		</div>
		<div style="white-space:nowrap;text-align: center">
			<a class="btn cmd" style="display:inline" data-cmd_id="#left_id#" title="Left" onclick="jeedom.cmd.execute({id: #left_id#});"><i class="fa fa-chevron-left"></i></a>
			<a class="btn cmd" style="display:inline" data-cmd_id="#enter_id#" title="Enter" onclick="jeedom.cmd.execute({id: #enter_id#});"><i class="fa fa-square-o"></i></a>
			<a class="btn cmd" style="display:inline" data-cmd_id="#right_id#" title="Right" onclick="jeedom.cmd.execute({id: #right_id#});"><i class="fa fa-chevron-right"></i></a>
		</div>
		<div style="white-space:nowrap;text-align: center">
			<a class="btn cmd" style="display:inline" data-cmd_id="#down_id#" title="Down" onclick="jeedom.cmd.execute({id: #down_id#});"><i class="fa fa-chevron-down"></i></a>
		</div>
		<br>
		<div style="white-space:nowrap;text-align: center">
			<a class="btn cmd" style="display:inline;padding:3px" data-cmd_id="#netflix_id#" title="Netflix" onclick="jeedom.cmd.execute({id: #netflix_id#});"><img src="plugins/AndroidRemoteControl/desktop/images/netflix.png" height="25" width="25"></a>
			<a class="btn cmd" style="display:inline;padding:3px" data-cmd_id="#molotov_id#" title="Molotov" onclick="jeedom.cmd.execute({id: #molotov_id#});"><img src="plugins/AndroidRemoteControl/desktop/images/molotov.png" height="25" width="25"></a>
			<a class="btn cmd" style="display:inline;padding:3px" data-cmd_id="#youtube_id#" title="Youtube" onclick="jeedom.cmd.execute({id: #youtube_id#});"><img src="plugins/AndroidRemoteControl/desktop/images/youtube.png" height="25" width="25"></a>
			<a class="btn cmd" style="display:inline;padding:3px" data-cmd_id="#kodi_id#" title="Kodi" onclick="jeedom.cmd.execute({id: #kodi_id#});"><img src="plugins/AndroidRemoteControl/desktop/images/kodi.png" height="25" width="25"></a>
			<a class="btn cmd" style="display:inline;padding:3px" data-cmd_id="#vevo_id#" title="Vevo" onclick="jeedom.cmd.execute({id: #vevo_id#});"><img src="plugins/AndroidRemoteControl/desktop/images/vevo.jpg" height="25" width="25"></a>
			<a class="btn cmd" style="display:inline;padding:3px" data-cmd_id="#spotify_id#" title="Spotify" onclick="jeedom.cmd.execute({id: #spotify_id#});"><img src="plugins/AndroidRemoteControl/desktop/images/spotify.png" height="25" width="25"></a>
		</div>
	</div>
</div>


